.story {

    &__pictures {
        background-color: $color-primary;
        grid-column: full-start / col-end 4;
        background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(../images/back.jpg);
        padding: 2rem 0;
        display: grid;
        grid-template-rows:  repeat(6, 1fr) ;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
    }

    &__img--1 {
        width: 100%;

        grid-row: 2 / 6;
        grid-column: 2 / 6;
        box-shadow: 0 2rem 5rem rgba(#000, .2);
    }

    &__img--2 {
        width: 115%;
        grid-row: 4 / 6;
        grid-column: 4 / 7;

        box-shadow: 0 2rem 5rem rgba(#000, .2);

        z-index: 20;
    }   

    &__content {
        grid-column: col-start 5 / full-end;
        padding: 6rem 8vw;

        //CENTERED WITH GRID
        display: grid;
        align-content: center;
        justify-items: start;
        //CENTERED WITH FLEXBOX
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: flex-start;
    }

    &__text {
        margin-bottom: 4rem;
        font-size: 1.5rem;
        font-style: italic;

    }
}


///////////////////////////////////////////
.u-mb-sm {margin-bottom: 2rem;}
.u-mb-md {margin-bottom: 3rem;}
.u-mb-lg {margin-bottom: 4rem;}
.u-mb-hg {margin-bottom: 5rem;}